<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>TempScanner</title>
    <link href="aspect.css" rel="stylesheet" type="text/css" />
</head>

<body scroll="nu" style="overflow:hidden">
    <body>
        <nav class="menu">
            <div class="Logo" style="font-size:30px">TempCheck</div>
            <div class="Img_Div">
                <img src="../static/images/termo.png">
            </div>
            
            <ul>
                <li><a href="TempScanner.html">Home</a></li>
                <li><a href="about_us.html">About Us</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="#">Start App</a></li>
            </ul>
        </nav>
        <div class="Footer">
            <p>Proiect realizat de sd. cap. Dumitrascu Andrei-Cosmin si sd. cap. Mitran Luca-Radu la Academia Tehnica Militara "Ferdinand I", Bucuresti - 2022</p>
        </div>
    <div class="Chenar2">
        <p style="color:aliceblue"></t>Buna ziua! Aceasta aplicatie este dezvoltata pe timpul practicii de catre studentii Dumitrascu Andrei-Cosmin si Mitran Luca-Radu. Scopul aplicatiei este de a face o statistica asupra temperaturilor din mediul inconjurator.</p>
    </br><p style="color:aliceblue"> De asemenea aceste temperaturi obtinute vor fi verificate si comparate cu datele de pe site-urile specializate pentru comunicarea temperaturii actuale.</p>
    </br><p style="color:aliceblue"> Pe langa statistica temperaturilor, se pot oferi recenzii site-urilor disponibile pentru a putea stabili care informatie este credibila.</p>
    </div>
</body>
