<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>TempScanner</title>
    <link href="aspect.css" rel="stylesheet" type="text/css" />
</head>

<body scroll="nu" style="overflow:hidden">
        <nav class="menu">
            <div class="Logo" style="font-size:30px">TempCheck</div>
            <div class="Img_Div">
                <img src="./tempPic.png">
            </div>
            
            <ul>
                <li><a href="TempScanner.html">Home</a></li>
                <li><a href="about_us.html">About Us</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="#">Start App</a></li>
            </ul>
        </nav>
        <div class="Footer">
            <p>Proiect realizat de sd. cap. Dumitrascu Andrei-Cosmin si sd. cap. Mitran Luca-Radu la Academia Tehnica Militara "Ferdinand I", Bucuresti - 2022</p>
        </div>
    <div class="Chenar1">
        <p style="color:aliceblue">EMAIL</p>
        </br><p style="color:aliceblue">Sd. Cap. Dumitrascu Andrei-Cosmin: andrei.dumitrascu@mta.ro</p>
        </br><p style="color:aliceblue">Sd. Cap. Mitran Luca-Radu: luca.mitran@mta.ro</p>
    </br><p style="color:aliceblue">NUMAR DE TELEFON</p>
        </br><p style="color:aliceblue">Sd. Cap. Dumitrascu Andrei-Cosmin: 0784656365</p>
        </br><p style="color:aliceblue">Sd. Cap. Mitran Luca-Radu: 0749128588</p>
    </div>
</body>
