<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/sqc3ygw.css">
    <link rel="stylesheet" href="./style.css">
    <title>InvatAcum</title>
</head>
<body scroll="nu" style="overflow:hidden">
    <div class = "title">
        <div class = "title_logo_div">
            <p id = "title_logo_text_1">I</p>
            <p id = "title_logo_text_2">A</p>
        </div>
        <!-- <div class = "title_text_div">
             <p>ÎnvațAcum</p>
        </div> -->
    </div>
    <div class = "container_first">
        <div class="tabla_rest">
            <div class="meniu">
                <a class="buton" href="ownzip.exe">
                Home
                </a>
                <a class="buton" href="mate.html">
                Matematica
                </a>
                <a class="buton" href="info.html">
                Informatica
                </a>
                <a class="buton" href="fizica.html">
                Fizica
                </a>
                <a class="buton" href="resurse.html">
                Resurse
                </a>
                <a class="buton" href="despre.html">
                Despre noi..
                </a>
                
            </div>
            <div class="content">

            </div>
            <div class="container_title">
                <p>Materia</p>
            </div>
    </div>
</body>
</html>