<!DOCTYPE html>
<html>
    <head>
        <meta name="theme-color" content="#99042E" charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="../static/css/login.css" />
    </head>
    <body scroll="nu" style="overflow:hidden">
        <div id="logbox">
           
         Log into account!
           
            </div>
            
        <div id="hideBox">
            <div id="highBox">
				<div id="logoBox">
				</div>
                <center>
                    <form method="POST">
                        <input type="text"
                               name="usrname"
                               placeholder="Username"
                               id="usrname"
                               class="textbox"
                               style="width: 300px;"><br><br>
                        <input type="password"
                                placeholder="pass"
                               name="password"
                               id="password"
                               class="textbox"
                               style="width: 300px;"><br><br>
                        <input type="submit" 
                               name="btn" 
                               value="Login" 
                               class="submitbutton"/>
                	</form>
                    <form action="sign">
                        <input type="submit" class="make" value="Nu am cont.." />
                    </form>
                </center>

            </div>
            <br>
            <div id="lowBox" class="textDiv">
                <p id="oneP" style="font-weight: bold;">Proiect Raspberry Pi! Autentifica-te!</p>
                <p id="twoP" >Senzori de temperatura + cautare web diverse site-uri..</p>
                <p id="threeP" >Site-urile primesc scor..</p>
            </div>
        </div>
        <p id="info"> Proiect realizat de sd. cap. Dumitrascu Andrei-Cosmin si sd. cap. Mitran Luca-Radu la Academia Tehnica Militara "Ferdinand I", Bucuresti - 2022</p>
    </body>
</html>