<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title>TempScanner</title>
        <link href="aspect.css" rel="stylesheet" type="text/css" />
        <link class="icon" href="../static/images/termo2.png" type="image/x-icon">
    </head>
<body scroll="nu" style="overflow:hidden">
    <nav class="menu">
        <div class="Logo" style="font-size:30px">TempCheck</div>
        <div class="Img_Div">
            <img src="./tempPic.png">
        </div>
        
        <ul>
            <li><a href="TempScanner.html">Home</a></li>
            <li><a href="about_us.html">About Us</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="#">Start App</a></li>
        </ul>
    </nav>
    <nav class="lista_site">
        <ul>
            <li><a href="https://vremea.ido.ro/Bucuresti.htm">www.vremea.ido.ro</a></li>
        </br><p style="font-family:Arial, Helvetica, sans-serif; color:white; size: 50px; position:relative; top:12px">25 grade</p>
            <li><a href="https://www.vremea.com/vremea-bucuresti/LRBS">www.vremea-bucuresti.com</a></li>
        </br><p style="font-family:Arial, Helvetica, sans-serif; color:white; size: 50px; position:relative; top:12px">25 grade</p>
            <li><a href="https://freemeteo.ro/vremea/bucharest/starea-vremii/locatie/?gid=683506&language=romanian&country=romania">www.freemeteo.ro</a></li>
        </br><p style="font-family:Arial, Helvetica, sans-serif; color:white; size: 50px; position:relative; top:12px">25 grade</p>
        </ul>
        <button class="like1"></button>
        <button class="like2"></button>
        <button class="like3"></button>
        <button class="dislike1"></button>
        <button class="dislike2"></button>
        <button class="dislike3"></button>
    </nav>    
    <div class="Footer">
        <p>Proiect realizat de sd. cap. Dumitrascu Andrei-Cosmin si sd. cap. Mitran Luca-Radu la Academia Tehnica Militara "Ferdinand I", Bucuresti - 2022</p>
    </div>
</body>
</html> 